.card-img-top {
    width: 100px;
    height: 100px;
}

.card-subtitle,
.card-text, 
 small {
    font-family: 'Comfortaa';
}

small {
    font-size: 1rem;
}

.footer {
    background-color: #dd17dd;
    padding: 20px;
}

.social-media-list {
    list-style: none;
}

/* display list inline */
.social-media-list li {
    display: inline;
    padding: 10px;
}

.fa-linkedin-in, .fa-facebook, .fa-twitter {
    color: white;
    font-size: 1.5rem;
}
