/********** PROJECT **********/

.card-design-project {
    background-color: var(--polar-bear);
}

.card-title-design-project {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.8rem;
}

.card-text-design-project {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
}

.btn-projects {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
    border: none;
    padding: 20px 20px;
    color: var(--polar-bear);
    background: var(--intrique-orange);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

.btn-projects:hover {
    color: var(--cloud);
}

.img-projects {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    margin-left: 5px;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {
 
    /* project */

    .card-title-design-project {
        font-family: 'Hammersmith One', sans-serif;
        font-size: 1.5rem;
    }
    
    .card-text-design-project {
        font-family: 'Comfortaa';
        font-size: 1.2rem;
    }

    .btn-projects {
        font-size: 1rem;
        padding: 16px 16px;
    }
    
    .img-projects {
        width: 17px;
        height: 17px;
    }
}