.title {
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Comfortaa';
}

.card-title-self-studying {
  color: #000;
  font-family: 'Hammersmith One', sans-serif;
}

.self-studying {
    color: #000;
    font-family: 'Comfortaa';
}

.table {
    font-family: 'Comfortaa';
}

#headline {
    font-weight: bold;
}