/********** COURSES **********/

.title {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Comfortaa';
}

.cert-img {
    width: 100%;
    height: auto;
}

.text-center {
    font-size: 1.2rem;
    font-family: 'Comfortaa';
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* courses */

    .title {
        font-size: 1.5rem;
    }
    
    .subtitle {
        text-align: center;
        font-size: 0.9rem;
    }

    .cert-img {
        width: 300px;
        height: 200px;
    }

    .text-center {
        font-size: 1rem;
    }
}