/*** INTRODUCTION-CARD ***/

.card-body-intro {
    background: rgb(135, 14, 172);
}

.card  {
    text-align: center;
    color: #fff;
}

.card-title {
    text-align: center;
    color: #fff;   
    font-family: 'Hammersmith One', sans-serif;
}

