/***** MAIN *****/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Hammersmith+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap');

/* :::::::::: Colors :::::::::: */
:root {
    --hot-barbie: #dd17dd;
    --hot-apple: #3cff00;
    --deep-purple: #870eac;
    --sunshine: #fbff00;
    --ocean-mediterrean: #03ecba;
    --polar-bear: #fff;
    --black-bear: #000;
}

.navbar {
    font-family: 'Comfortaa';
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
    font-size: 1rem;
}

.container {
    border-color: none;
}

.navbar > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item > .btn-outline-light {
    margin-top: 10px;
}

/* Rounded border - DIVIDER */
hr.rounded {
    border: 2px solid #3cff00;
    border-radius: 5px;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-body-intro {
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -5px;
}

.card  {
    text-align: center;
    color: #fff;
}

.card-title {
    text-align: center;
    color: #fff;   
    font-family: 'Hammersmith One', sans-serif;
}

.card-subtitle-num {
    color: #000;
    font-weight: bold;
    font-family: 'Hammersmith One', sans-serif;
}

.card-text {
    font-size: 1.2rem;
}

.card-project {
    max-width: 60%;
    font-family: 'Comfortaa'; 
}

li .list-group-item {
    font-size: 1.5rem;
}

  /* List group - about */
.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Email */
.contact {
    font-size: 1rem;
    font-family: 'Comfortaa';
}

/* buttons */
.btn-links, .btn-arrow {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #b400b4;
    border: none;
    color: #fbff00;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-links {
    padding: 15px 32px;
}

.btn-links:hover, .btn-arrow:hover {
    background-color: #03ecba;
    color: #870eac;
}

.btn-arrow {
    padding: 12px 25px;
}

.btn-github {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #fffafa;
    border: none;
    color: #dd17dd;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;  
}

.btn-github:hover {
    background-color: #fbff00;
    color: #dd17dd;
}

.link {
    color: rgb(15, 2, 2);
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.link:hover {
    color: #02f70a;
}

.link-note {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Comfortaa';
}

.link-note:hover {
    color:#680963;
}

.btn-outline-light:hover {
    color: rgb(221, 23, 221);
}

.card-subintro {
    color: #000;
    border: 1px solid red;
}

.card-title-intro {
    color: #000;
    font-size: 2rem;
    margin-bottom: 50px;
}

.card-text {
    font-family: 'Poppins';
}

.card-text-subintro {
  font-weight: bold;
  font-size: 1.2rem;
}

.under-icon-text {
    font-weight: bold;
    font-family: 'Comfortaa';
}

/* Project screenshot image */
.project-img {
    width: 100px;
    height: 100px;
}

.card-title-num {
    color: #000;
}

.card-title-project {
    color: #000;
}

.card-text-project {
    color: #000;
}

.card-body-projects {
    color: #000;
}

.project-title {
  font-size: 1.2rem;
  color: '#000';
}

.project-desc {
  font-size: 1rem;
  color: '#000';
}

.card-about {
    color: #fff;
}

.list-group-about{
    color: white;
    font-family: "Comfortaa";
}

#active {
    color: yellow;
}

/* :::::::::: FOOTER :::::::::: */

.card-img {
    width: 100px;
    height: 100px;
}



.list-group-item {
    font-size: 1rem;
}

.card-subtitle,
.card-text, 
 small {
    font-family: 'Comfortaa';
}

small {
    font-size: 1rem;
}

.footer {
    background: #a80077;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #66ff00, #a80077);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #66ff00, #a80077); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

.social-media-list {
    list-style: none;
}

/* display list inline */
.social-media-list li {
    display: inline;
    padding: 10px;
}

.fa-linkedin-in, .fa-facebook, .fa-twitter {
    color: white;
    font-size: 1.5rem;
}

.fa-linkedin-in:hover, .fa-facebook:hover, .fa-twitter:hover {
    color: #03ecba;
}

.experience-list li {
    display: inline;
}

