/* :::::::::: FONTS :::::::::: */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Hammersmith+One&family=Poppins:wght@300&display=swap');


/*
  font-family: 'Comfortaa';
  font-family: 'Hammersmith One', sans-serif;
*/

/* :::::::::: COLORS :::::::::: */
:root {
    --hot-barbie-light: #a80077;
    --hot-barbie: #AA076B;
    --hot-apple: #66ff00; 
    --plum: #61045F;
    --sunshine-deep: #f5af19;
    --ocean-mediterrean: #2ebf91;
    --cloud: #ECE9E6;
    --polar-bear: #fcfbf9;
    --snow-blast: #ffffff;
    --black-bear: #050505;
    --intrique-orange: #f12711;
}

body {
    background-color: var(--polar-bear);
}

/* :::::::::: NAVBAR :::::::::: */
.navbar {
    font-family: 'Comfortaa';
    background: var(--hot-barbie);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--plum), var(--hot-barbie));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--plum), var(--hot-barbie)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
    font-size: 1rem;
    color: var(--polar-bear);
}

/* :::::::::: CARD MY INFO :::::::::: */
.card-body-my-info {
    background: var(--hot-barbie);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--plum), var(--hot-barbie));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--plum), var(--hot-barbie)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -5px;
}

.card  {
    text-align: center;
}

.card-title-my-info {
    text-align: center;
    color: var(--snow-blast);   
    font-family: 'Hammersmith One', sans-serif;
}

.card-text-my-info {
    color: var(--cloud);
    font-size: 1.2rem;
    font-family: 'Comfortaa';
}

.card-title-main {
    color: var(--black-bear);
    font-family: 'Hammersmith One', sans-serif;
}

.card-subtitle-main {
    color: var(--black-bear);
    font-weight: bold;
    font-family: 'Comfortaa';
}

.card-project {
    max-width: 60%;
    font-family: 'Comfortaa'; 
    background-color: var(--polar-bear);
}

.card-title-project {
    color: var(--black-bear);
    font-family: 'Hammersmith One', sans-serif;
}

.list-group-item {
    background-color: var(--polar-bear);
}

.list-group-item-project {
    font-size: 1.2rem;
}

/* :::::::::: FOOTER :::::::::: */
.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* email */
.contact {
    font-size: 1rem;
    font-family: 'Comfortaa';
}

/* buttons */
.btn-link, .btn-arrow {
    font-family: 'Comfortaa';
    font-weight: bold;
    background: var(--hot-barbie);  
    border: none;
    color: var(--cloud);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-link {
    padding: 15px 32px;
}

.btn-arrow {
    padding: 12px 25px;
}

.btn-link:hover, .btn-arrow:hover {
    background-color: var(--ocean-mediterrean);
    color: var(--cloud);
}

.btn-github {
    font-family: 'Comfortaa';
    font-weight: bold;
    background: var(--intrique-orange);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;  
}

.btn-github:hover {
    color: #ECE9E6;
}

#active {
    color: var(--sunshine-deep);
}

/* :::::::::: FOOTER :::::::::: */
.footer {
    background: var(--hot-barbie-light);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, var(--hot-apple), var(--hot-barbie-light));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--hot-apple), var(--hot-barbie-light)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

.card-img-alexa {
    width: 100px;
    height: 100px;
}

.card-subtitle-footer,
.card-text-footer, 
 small {
    font-family: 'Comfortaa';
    color: var(--cloud);
}

small {
    font-size: 1rem;
    margin-left: -40px;
}

/* :::::::::: SOCIAL MEDIA ::::::::::: */
.social-media-list {
    list-style: none;
}

/* display list inline */
.social-media-list li {
    display: inline;
    padding: 5px;
}

.fa-linkedin-in, .fa-facebook, .fa-twitter {
    color: var(--polar-bear);
    font-size: 1.5rem;
}

.fa-linkedin-in:hover, .fa-facebook:hover, .fa-twitter:hover {
    color: var(--sunshine-deep);
}



