/***** MAIN *****/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Hammersmith+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap');

.navbar {
    font-family: 'Comfortaa';
    background-color: #dd17dd;
}
.container {
    border-color: none;
}

/* Rounded border - DIVIDER */
hr.rounded {
    border: 2px solid #3cff00;
    border-radius: 5px;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-body-intro {
    background: #870eac;
    margin-top: -5px;
}

.card  {
    text-align: center;
    color: #fff;
}

.card-title {
    text-align: center;
    color: #fff;   
    font-family: 'Hammersmith One', sans-serif;
}

  /* List group - about */
.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Email */
.contact {
    font-size: 1.2rem;
    font-family: 'Comfortaa';
}

/* buttons */
.btn-links {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #03ecba;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-links:hover {
    background-color: #dd17dd;
    color: #fff;
}

.btn-github {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #fffafa;
    border: none;
    color: #000;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 2px;
    cursor: pointer;  
}

.btn-github:hover {
    background-color: rgb(243, 160, 6);
    color: #fff;
}

.btn-self-studying {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #3cff00;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 2px;
    cursor: pointer;   
}

.btn-self-studying:hover {
    color: #fff;
    background-color: #dd17dd;
}

.link {
    color: rgb(15, 2, 2);
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.link:hover {
    color: #02f70a;
}

/* certificate page */
.card-body-certificate {
    background-color: rgb(9, 15, 104);
    color: #fff;
}

.card-title-certificate {
    font-size: 2.5rem;
    font-family: 'Comfortaa';
}

.link-note {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Comfortaa';
}

.link-note:hover {
    color:rgb(104, 9, 99);
}


.btn-outline-light:hover {
    color: rgb(221, 23, 221);
}

.card-subintro {
    color: #000;
    border: 1px solid red;
}

.card-title-intro {
    color: #000;
    font-size: 2rem;
    margin-bottom: 50px;
}

.card-text {
    font-family: 'Poppins';
}

.card-text-subintro {
  font-weight: bold;
  font-size: 1.2rem;
}

.under-icon-text {
    font-weight: bold;
    font-family: 'Comfortaa';
}

/* Project screenshot image */
.project-img {
    width: 100px;
    height: 100px;
}

.card-title-num {
    color: #000;
}

.card-title-project {
    color: #000;
}

.card-text-project {
    color: #000;
}

.card-body-projects {
    color: #000;
}

.project-title {
  font-size: 1.2rem;
  color: '#000';
}

.project-desc {
  font-size: 1rem;
  color: '#000';
}

.card-about {
    color: #fff;
}

.list-group-about{
    color: white;
    font-family: "Comfortaa";
}
