.card {
  background-color: var(--polar-bear);
}

.title {
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
}

th {
    font-family: 'Hammersmith One', sans-serif;
}

.mt-3 {
    font-size: 1.2rem;
}

.btn-link-online-small {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: var(--hot-barbie);
    border: none;
    color: var(--cloud);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 25px;
}

.btn-link-online-small:hover {
    background-color: var(--ocean-mediterrean);
    color: var(--polar-bear);
}