.title {
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
}

.btn-links-small {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: #dd17dd;
    border: none;
    color: #fbff00;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-links-small {
    padding: 10px 25px;
}

.btn-links-small:hover {
    background-color: #03ecba;
    color: #870eac;
}