/********** OTHER PROJECTS **********/

.card {
  background-color: var(--polar-bear);
}

.title {
    font-size: 1.8rem;
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
}

th {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.5rem;
}

.btn-link-online-small {
    font-family: 'Comfortaa';
    font-weight: bold;
    background-color: var(--hot-barbie);
    border: none;
    color: var(--cloud);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 25px;
}

.btn-link-online-small:hover {
    background-color: var(--ocean-mediterrean);
    color: var(--polar-bear);
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN ***********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

    /* table projects */

    .title {
        font-size: 1.5rem;
        font-family: 'Hammersmith One', sans-serif;
    }
    
    .subtitle {
        font-family: 'Comfortaa';
        font-size: 1rem;
    }
    
    th {
        font-family: 'Hammersmith One', sans-serif;
        font-size: 1rem;
    }

    .btn-link-online-small {
        margin-top: 10px;
        font-size: 0.8rem;
        padding: 8px 22px;
    }
}