body {
    font-family: 'Comfortaa';
    color: black;
}

.title {
    text-align: center;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.list-exp {
    list-style: none;
}



