.card-title-design-project {
    font-family: 'Hammersmith One', sans-serif;
}

.card-text-design-project {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
}

.btn-projects {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
    border: none;
    padding: 20px 20px;
    color: var(--polar-bear);
    background: var(--intrique-orange);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--sunshine-deep), var(--intrique-orange)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

a {
    text-decoration: none;
    margin-left: 5px;
}