* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 2.5rem;
}

#smallGrid {
    /* applies to all boxes */
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box4 box4"
    "box5 box6 box6";
    /* flexbox 
    justify-items: center; */
}

.box1 {
    /* applies to all boxes 
    height: 400px; */
    background-image: url('img/flowers1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box1;
    /* flexbox aligning items(text) center to one grid area */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.box2 {
    background-image: url('img/flowers2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box2;
    /* flexbox applied to one grid area 
    align-self: center; */
}

.box3 {
    background-image: url('img/flowers3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box3;
}

.box4 {
    background-image: url('img/flowers4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box4;
}

.box5 {
    background-image: url('img/flowers5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box5;
}

.box6 {
    background-image: url('img/flowers6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: box6;
}