body {
    background-color: var(--black-smoke);
    color: var(--polar-bear);
}

.img-about {
    width: 100%;
    height: 100%;
}

video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }


/* Set additional styling options for the columns */
.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}

.container-about {
    width: 80%;
    margin: 0 auto;
}

.title-about {
  margin-top: 50px;
  text-align: center;
  font-family: 'Cinzel';
  font-size: 2.5rem;
}

.subtitle-about {
   font-family: 'Cinzel';
   text-align: center;
   font-size: 1.5rem;
   margin-top: 20px;
}

.text-about {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: 'Cinzel';
}


.card-about {
    margin-top: -5px;
    color: #fff;
    padding: 120px;
    font-family: 'Marcellus SC', serif;
}

.card-about-top {
    background-color: rgb(90, 31, 4);
}

.card-about-middle {
    background-color: rgb(190, 88, 3);
}

.card-about-bottom {
    background-color: rgb(238, 160, 16);
}

.card-desc {
    max-width: 60%;
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cinzel Decorative', cursive;
}

.card-text {
    font-size: 1.2rem;
}

.about-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}