body {
    background-color: var(--black-smoke);
    color: var(--polar-bear);
}

.img-about {
    width: 100%;
    height: 100%;
}

video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }


  a {
    text-decoration: none;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  
  a:hover {
    opacity: .6;
  }
  
  /* Styles for the hero image */
  .hero {
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
    background-size: cover;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
  }
  
 
  
  /* breweries styles */
  .about {
    padding: 2rem;
  }
  
  .about > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .about > ul > li {
    border: 1px solid var(--heart-red);
    border-radius: .5rem;
    list-style-type: none;
  }
  
  .about > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .about > ul > li > figure > img {
    width: 100%;
  }
  
  .about > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .about> ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .about > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .about > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }

.container-about {
    width: 80%;
    margin: 0 auto;
}

.title-about {
  margin-top: 50px;
  text-align: center;
  font-family: 'Cinzel';
  font-size: 2.5rem;
}

.subtitle-about {
   font-family: 'Cinzel';
   text-align: center;
   font-size: 1.5rem;
   margin-top: 20px;
}

.text-about {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: 'Cinzel';
}


.card-about {
    margin-top: -5px;
    color: #fff;
    padding: 120px;
    font-family: 'Marcellus SC', serif;
}

.card-about-top {
    background-color: rgb(90, 31, 4);
}

.card-about-middle {
    background-color: rgb(190, 88, 3);
}

.card-about-bottom {
    background-color: rgb(238, 160, 16);
}

.card-desc {
    max-width: 60%;
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cinzel Decorative', cursive;
}

.card-text {
    font-size: 1.2rem;
}

.about-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}