/*********** GALLERY **********/

.gallery {
   width: 100%; /* 95 * 16 = 1520px */
   margin: 0 auto;
   height: auto;
}

/* gallery image */

.img-gallery {
   width: 100%;
   height: auto;
   object-fit: cover;
   margin-top: -5px;
}

/********** RESPONSIVE VIEW **********/

/********** SMALL SCREEN **********/

@media only screen and (min-width: 375px) and (max-width: 765px) {

   /* navbar */
 
   nav {
     position: fixed;
     z-index: 99;
   }
 }


