/*********** IMG **********/

  .intro-img {
    width: 100%;
    height: auto; /* makes img responsive on every screen size */
  }
  
  .container-img {
    position: relative;
  }
  
  /********** RESPONSIVE VIEW ***********/

  /********** SMALL SCREEN **********/

  @media only screen and (min-width: 375px) and (max-width: 765px) {
    
    /* navbar */

    .check-btn {
        margin-top: 27px; /* written fix only for home page */
    }
  }