.display {
    background-color: var(--black-smoke);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

.container-display {
    margin-top: 200px;
    width: 50%;
    color: var(--polar-bear);
    margin-bottom: 200px;
}

.display-title {
    font-size: 3rem;
    text-align: center;
}

.display-text {
    font-size: 1.5rem;
    text-align: center;
}