/*:::::::::: FONTS :::::::::: */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@500&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/* 
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Marcellus SC', serif;
font-family: 'Lato', sans-serif;
*/

/* local fonts */
@font-face {
    font-family: 'Waltograph';
    font-family: 'Lion King';
    /* src: url('waltograph42.otf'); */
    src: local('fonts/waltographUI.ttf');
    src: local('fonts/lion_king.ttf');
}

/*:::::::::: BASIC RESET :::::::::: */

* { /* - Universal selector that matches any html tag: div, body, button, all of them */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*:::::::::: COLORS :::::::::: */
:root {
    --black-smoke: #1a1818;
    --black-city-smoke: #272222;
    --heart-red: #a70202;
    --mandarin: #ffae00;
    --polar-bear: #fcfbf9;
}

/*:::::::::: NAVBAR :::::::::: */

nav {
    top: 0;
    background-color: #272222;
    /* background-color: #a70202;*/
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 1.2rem;
    line-height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Lion King';
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 30px;
}

a {
    text-decoration: underline;
    color: #fff;
}

nav .nav-list {
    float: right;
    margin-right: 20px;
    font-family: 'Lion King';
}

nav .nav-list li {
    display: inline-block;
    line-height: 75px;
    margin: -2.5px 5px;
    letter-spacing: 2px;
}

nav .nav-list li a {
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 7px 13px;
    text-decoration: none;
}

nav .nav-list li a:hover {
    color: var(--mandarin);
}

nav .nav-list li a.active {
    color: var(--mandarin);
}

/* checkbox */
.check-btn {
    font-size: 2rem;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    nav .nav-list li a {
        font-size: 0.7rem;
    }
}

@media (max-width: 858px) {
    .check-btn {
        display: block;
        margin-right: 20px;
    }
    .nav-list {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #272222;
        top: 80px;
        /* why */
        left: -100%;
        transition: all .5s;

        text-align: center;
    }
    nav .nav-list li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .nav-list li a {
        font-size: 1.2rem;
    }
    a:hover, a.active {
        background: none;
        color: var(--mandarin);
    }
    #check:checked ~ .nav-list {
        left: 0;
    }
}

/*:::::::::: MODAL TICKETS ::::::::::*/
.modal {
  display: none; /* hidden by default */
  position: fixed; /* stay in place */
  z-index: 1; /* sit on top */
  padding-top: 100px; /* location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* enable scroll if needed */
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgba(0,0,0,0.4); /* black w/ opacity */
}

.modal-content {
    background-color: var(--black-city-smoke);
    margin: auto;
    padding: 20px;
    border: none;
    width: 80%;
  }

  /* close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.ticket-card {
    margin-top: 40px;
    text-align: center;
    color: var(--polar-bear);
}

.title {
    font-family: 'Lion King';
    letter-spacing: 3px;
    font-size: 2.5rem;
}

.subtitle {
    margin-top: 20px;
    font-family: 'Cinzel';
    font-size: 1.5rem;
}

.text {
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: 'Cinzel';
}

.poster-movie-img {
    width: 100%;
    height: 0 auto;
    padding: 30px;
}

.btn-search-tickets {
    border: none;
    padding: 20px 30px;
    background-color: var(--heart-red);
    color: var(--polar-bear);
    font-family: 'Cinzel';
    font-size: 1.2rem;
}

.btn-search-tickets:hover {
    background-color: rgba(255, 0, 0, 0.623);
}

/*:::::::::: FOOTER :::::::::: */
footer {
    background-color: #272222;
    color: #fff;
}

.footer {
    line-height: 1.5;
    padding: 20px 29.6px;
    display: flex;
    flex-wrap: wrap;  /* flex-wrap property will let the footer wrap into multiple rows based on the viewport size. */
}

.footer-title {
    color: #fff;
    font-family: 'Lion King';
    font-size: 1.5rem;
    padding-bottom: 8px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.item-list {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 0;
    font-family: 'Lato', sans-serif;
}

.item-list li a:hover {
    text-decoration: none;
    color: var(--mandarin);
}

.item-list li a.active {
    color: var(--mandarin);
}

.social-media-title {
    text-align: center;
    font-family: 'Lion King';
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* social-media */
.fa-instagram, .fa-facebook, .fa-pinterest, .fa-twitter {
  font-size: 2.2rem;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-pinterest:hover, .fa-twitter:hover {
    color: var(--heart-red);
}

.footer-item {
    padding: 20px; /* 1.25rem; */
    min-width: 200px; /* 12.5rem */
}

.footer .footer-item:nth-last-child(2) {
   flex:1 /* pushes the item to the right */
}

/* newsletter form */ 
form {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="email"] {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    border: 0;
    padding: 10px; /* 0.625rem; */
    margin-top: 5px; /* 0.3125rem; */
  }

  input[type="submit"] {
    font-family: 'Lato', sans-serif;
    background-color: var(--heart-red);
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 10px 15px; /* 0.625rem 0.9375rem; */
    margin-top: 5px /* 0.3125rem; */
  }

.footer-subtitle {
    font-family: 'Cinzel';
    font-size: 1rem;
}

.footer-social-media {
    padding: 0 30px 20px;
}

.footer-social-media-list {
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: 1px var(--black-smoke) solid;
    padding-top: 20px;
}

.footer-social-media-list li {
    margin: 16px;
}

/* disney logo */
.footer-social-media-list-logo {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border: none;
}
.footer-legal .logo {
    margin: 5 auto;
    font-size: 2rem;
    font-family: 'Waltograph';
}

/* footer legal */
.footer-legal {
    padding: 15px 30px; /* 0.9375rem 1.875rem; */
    background-color: var(--heart-red);
    font-family: 'Lion King';
    letter-spacing: 1px;
}

.footer-legal-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-legal-list li {
    margin: 2px 10px;
    white-space: nowrap;
    font-size: 1.2rem;
}

.footer-legal-list .underline {
    text-decoration: underline;
}

/* footer logo */
.footer-logo-disney {
    background-color: var(--black-smoke);
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

.footer-logo .logo {
    font-size: 2rem;
    font-family: 'Waltograph';
}

.copy-logo {
    font-family: 'Cinzel';
    letter-spacing: 2px;
}

/* last child - puts the item to the right like float:right */
.footer-legal-list li:nth-last-child(2) {
    flex: 1; /* same as flex-grow: 1; */
}

.fa-angle-double-down {
    margin-left: 5px;
}

.more {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    margin-left: -59px;
    min-width: 160px;
    position: absolute;
    background-color: var(--black-city-smoke);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .more:hover .dropdown-content {
    display: block;
    top: 80px;
    text-align: center;
  }

  .droodown-content .more-dropdown-list li {
      list-style-type: none;
      display: block;
      max-width: 600px;
  }
