
body {
    background-color: var(--black-smoke);
}

.video {
    margin: auto;
    display: block;
    width: 800px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 10px solid var(--black-city-smoke);
  }

.title-movie {
    color: var(--polar-bear);
    text-align: center; 
    margin-top: 150px;
    font-family: 'Lion King';
    font-size: 3rem;
}

.subtitle-movie {
    color: var(--polar-bear);
    text-align: center; 
    font-family: 'Lion King';
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 20px;
}

/********** MEDIUM SCREEN **********/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .video {
        width: 600px;
        height: 400px;
    }
    .title-movie {
        font-size: 2.5rem;
    }
    .subtitle-movie {
        font-size: 1.5rem;
    }
  }

/********** SMALL SCREEN **********/
@media only screen and (min-width: 375px) and (max-width: 765px) {
    .video {
        width: 400px;
        height: 200px;
    }
    .title-movie {
        font-size: 1.5rem;
    }
    .subtitle-movie {
        font-size: 1rem;
        margin-top: 40px;
    }
}