
                         

body {
    background-color: var(--black-smoke);
}

iframe {
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

.title-movie {
    color: var(--polar-bear);
    text-align: center; 
    margin-top: 150px;
    font-family: 'Lion King';
    font-size: 3rem;
}

.subtitle-movie {
    color: var(--polar-bear);
    text-align: center; 
    font-family: 'Lion King';
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
}
