.title {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-family: 'Cinzel';
}

.card-music {
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-music {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.card-desc {
    text-align: center;
}

.card-title {
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}

.card-text {
    font-size: 1.6rem;
    font-family: 'Marcellus SC', serif;
}

.music-list {
    margin-top: 20px;
    line-height: 40px;
    font-size: 1.4rem;
}