body {
    background-color: var(--black-smoke);
}

.title-music {
    color: var(--polar-bear);
    text-align: center; 
    margin-top: 150px;
    font-family: 'Lion King';
    font-size: 3rem;
}

.subtitle-music {
    color: var(--polar-bear);
    text-align: center; 
    font-family: 'Lion King';
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.soundtrack {
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

 #music-list {
    border: 1 px solid red;
    background-color: var(--heart-red);
    width: 70%;
    margin: 0 auto;
}

.list-player {
    text-align: center;
    /* display numbers - fix */
    list-style-position: inside;
}

.song {
    color: var(--polar-bear);
    font-size: 1.2rem;
    padding: 20px;
}

.box-one {
    background-color: red;
}