/* basic page reset */
*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.wrapper {
    max-width: 100%; /* 95 * 16 = 1520px */
    margin: 0 auto;
}

/* gallery */
.gallery {
  border: 15px solid rgb(19, 18, 18);  
  display: grid;
  /* 3 columns, 1 fraction */
  grid-template-columns: repeat(3, 1fr);
  /* 4 columns of 12.5rem/200px size */
  grid-template-rows: repeat(4, 12.5rem);
  /* gap: .5rem; */
}

/* gallery layout */

/* serval */
.gallery__item--1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

/* lion */
.gallery__item--2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

/* tiger */
.gallery__item--3 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

/* leopard */
.gallery__item--4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

/* caracal */
.gallery__item--5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 3;
}

/* dingo **/
.gallery__item--6 {
    grid-column: 1 / span 1;
    grid-row: 14 / span 1;
}

/* bird **/
.gallery__item--7 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 3;
}

/* mountain lion **/
.gallery__item--8 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

/* impala **/
.gallery__item--9 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
}

/* snow leopard **/
.gallery__item--10 {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

/* hippo **/
.gallery__item--11 {
    grid-column: 2 / span 2;
    grid-row: 12 / span 2;
}

/* coyote */
.gallery__item--12 {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}

/* zebra */
.gallery__item--13 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 1;
}

/* fennec fox */
.gallery__item--14 {
    grid-column: 2 / span 1;
    grid-row: 14 / span 1;
}

/* wolf **/
.gallery__item--15 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

/* white fox **/
.gallery__item--16 {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
}

/* wild dog **/
.gallery__item--17 {
    grid-column: 1 / span 1;
    grid-row: 10 / span 1;
}

/* red fox **/
.gallery__item--18 {
    grid-column: 3 / span 1;
    grid-row: 10 / span 1;
}

/* clouded leopard **/
.gallery__item--19 {
    grid-column: 2 / span 1;
    grid-row: 10 / span 1;
}

/* crocodile **/
.gallery__item--20 {
    grid-column: 2 / span 2;
    grid-row: 9 / span 1;
}

/* meerkat **/
.gallery__item--21 {
    grid-column: 3 / span 1;
    grid-row: 11 / span 1;
}

/* okapi **/
.gallery__item--22 {
    grid-column: 2 / span 1;
    grid-row: 11 / span 1;
}

/* tucan **/
.gallery__item--23 {
    grid-column: 1 / span 1;
    grid-row: 12 / span 1;
}

/* red fox **/ 
.gallery__item--24 {
    grid-column: 1 / span 1;
    grid-row: 13 / span 1;
}

/* cheetah **/ 
.gallery__item--25 {
    grid-column: 1 / span 1;
    grid-row: 11 / span 1;
}

/* lynx **/ 
.gallery__item--26 {
    grid-column: 3 / span 1;
    grid-row: 14 / span 1;
}


/* gallery image */
.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 
       transform .5s,
       filter .5s
}

.gallery__link:hover .gallery__image {
    transform: scale(1.2);
    filter: blur(2px);
}

/* gallery link */
.gallery__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* gallery link overlay */
.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(73, 24, 24, 0.4);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.gallery__link:hover .gallery__overlay {
    opacity: 1;
}

/* gallery overlay text */
.gallery__overlay span {
    position: relative;
    line-height: 3rem;
}

.gallery__overlay span:before,
.gallery__overlay span:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width .3s ease-out .2s;
}

.gallery__overlay span:before {
    top: 0;
    left: 0;
}

.gallery__overlay span:after {
    bottom: 0;
    right: 0;
}

.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
    width: 100%;
}

/* MAKE IT RESPONSIVE */
@media screen and (max-width: 560px) {
    .gallery {
        display: block;
    }
    .gallery__link {
        height: 90vw;
    }
    .gallery__overlay {
        font-size: 1rem;
    }
}
