/********** FONTS *********/

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lexend&display=swap');


/* basic reset */

* {
    box-sizing: border-box; /* allows to include the padding and border in an element's total width and height */
    margin: 0;
    padding: 0;
}

html {
    color: #1e535f;
    font-family: 'Lexend', sans-serif;
}

/********** COLORS **********/

:root {
    --color-blue: #0f90db;
    --color-medium-blue: #16aec9;
    --color-light-blue: #cdf2f8;
  }

header {
     background-color: rgb(10, 129, 207);
     padding: 40px;
}

#header-title {
    font-family: 'Chewy', cursive;
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
}

#header-subtitle{
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

/* NAVIGATION */

.checkoutStepper {
    margin-top: 25px;
}

.checkoutStepper ul {
    list-style: none;
    font-family: 'Chewy', cursive;
    width: 90%;
    position: relative;
    margin: 0 auto 1em;
    display: flex;
    justify-content: space-around;
    counter-reset: step;
}

.checkoutStepper li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

.checkoutStepper li:before {
    content: counter(step);
    counter-increment: step;
    color: #ffffff;
    border-radius: 50%;
    background-color: #0f90db;
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: auto;
}

/* line above the checkoutStepper */
.checkoutStepper ul:after {
    content: "";
    width: 78%;
    height: 3px;
    background-color: #0f90db;
    display: block;
    position: absolute;
    top: 27.5px;
    z-index: -1;
}

.checkoutStepper li.active:before {
    background-color: #17bacf;
}

.checkoutStepper a {
    color: #0f90db;
    text-decoration: none;
    padding-top: 37px;
}

.checkoutStepper .active a {
    color: #17bacf;
}

/********* RESPONSIVE VIEW **********/

/********** SMALL SCREEN **********/

@media only screen and (min-width: 375px) and (max-width: 765px) { 

    /* header */

    #header-title {
       font-size: 4rem;
    }

    #header-subtitle {
       font-size: 1.5rem;
    }

    /* stepper */

    .checkoutStepper li {
        font-size: 1rem;
    }

    .checkoutStepper li:before {
        width: 35px;
        height: 35px;
        line-height: 35px;
  }
}

