/********** SHIPPING **********/
 
  .entireShippingForm {
    padding: 50px;
    font-family: 'Lexend', sans-serif;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -webkit-box-shadow: 0 10px 6px 6px #ecf2f5;
    -moz-box-shadow: 0 3px 6px 6px #ecf2f5;
         box-shadow: 0px 3px 6px 6px #ecf2f5;
  }

  .shippingInfo, .totalCart {
      padding: 30px;
      border: 1px solid #cdf2f8;
  }

  .shippingInfo ul {
      margin-top: 20px;
      list-style-type: none;
  }

  fieldset {
      margin-top: 10px;
      border: none;
  }  

  h2 {
    font-size: 1.5rem;
  }

  legend {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  ::placeholder {
    color: #16aec9;
    font-family: 'Lexend', sans-serif;
  }

  label {
    font-size: 1.2rem;
  }

/* date */

input[type="date"] {
    color: #16aec9;
    font-family: 'Lexend', sans-serif;
}

::-webkit-calendar-picker-indicator {
    color: #16aec9;
}

label {
    padding: 5px;
}

/* list */

.details {
    font-size: 1.2rem;
    list-style-type: none;
    display: inline-block;
}

.qty {
    margin-top: 20px;
    font-size: 1.1rem;
}

.image {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    width: 160px;
    height: 100px;
}

.side-info {
    float: right;
}

/* order total price */

.total {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    margin-top: 10px;
}

hr {
    border: 1px solid #cdf2f8;
    margin-top: 20px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

/* button edit and continue */

 .btn-complete-order, .btn-edit {
    margin-top: 20px;
    padding: 0.35em 1.2em;
    text-decoration: none;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: none;
    background-color: #16aec9;
    color: #ffffff;
    font-family: 'Chewy', cursive;
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
    display: block;
 }

  .btn-complete-order {
    font-size: 1.5rem;
 }

  .btn-edit {
    font-size: 1rem;
 }

  a {
    text-decoration: none;
 }

/* hover */

 .btn-complete-order:hover, .btn-edit:hover {
    background-color: #0f90db;
}

/* PAYMENT FORM */

  .title-form {
      margin-top: 25px;
      font-size: 1.5rem;
  }

  .lock-text {
      color: #16aec9;
      font-size: 1rem;
  }
  
  .form {
    display: grid;
    grid-gap: 1rem;
  }
  
  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-light-blue);
    padding: .5rem;
  }
  
  .field-label {
    color: var(--color-lighter-blue);
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
  }
  
  .field-input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
  }

  .field:focus-within {
    border-color: var(--color-medium-blue);
  }
  
  .fields {
    display: grid;
    grid-gap: 1rem;
  }

  .fields-2 {
    grid-template-columns: 1fr 1fr;
  }

   /* cards image */

   .cards-img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }


/********* RESPONSIVE VIEW **********/

/********** MEDIUM SCREEN ***********/

@media only screen and (min-width: 768px) and (max-width: 1023px) {

 

}
  
/********** SMALL SCREEN **********/
  
@media only screen and (min-width: 375px) and (max-width: 765px) { 

/* shipping to */

.entireShippingForm {
  padding: 20px;
}

.details {
  font-size: 1rem;
  list-style-type: none;
  display: inline-block;
}

h2 {
  font-size: 1.2rem;
}

legend {
  font-size: 1.1rem;
}

.lock-text {
  font-size: 0.9rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-light-blue);
  padding: .5rem;
}

.field-label {
  font-size: 0.4rem;
}

.field-input {
  font-size: 0.9rem;
}

.btn-complete-order {
  font-size: 1rem;
}

.btn-edit {
  font-size: 1rem;
}


/* cart total */

.qty {
  margin-top: 20px;
  font-size: 1rem;
}

.image {
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  width: 140px;
  height: 100px;
 }
}