/********** PERSONAL DETAILS **********/

.card {
    padding: 1rem;
}
  
.checkoutDetails {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/********** ORDER SUMMARY *********/

.intro li {
    display: inline-block;
    list-style-type: none;
}

.intro .edit {
    float: right;
}

.entireForm {
    padding: 20px;
    margin: 50px 20px 20px 20px;
    -webkit-box-shadow: 0 10px 6px 6px #ecf2f5;
    -moz-box-shadow: 0 3px 6px 6px #ecf2f5;
         box-shadow: 0px 3px 6px 6px #ecf2f5;
}

.orderSummary {
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #cdf2f8;
    max-width: 100%;
}

.personalDetails {
    padding: 50px;
    margin: 0 auto;
    border: 1px solid #cdf2f8;
    max-width: 100%;
}

/* UL list */
.details {
    list-style-type: none;
}

/* list elements */
.title, .brandName, .qty, .edit, .sub, .total, .shipping, .tax {
    font-family: 'Lexend', sans-serif;
    margin-top: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.qty, .sub, .shipping, .tax {
    font-size: 1.1rem;
}

.image {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 130px;
}

.side-info {
    float: right;
}

/* increment and decrement btn */

.img-qty {
   width: 22px;
   height: 22px;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
}

/* button edit */

#edit, .btn-shipping {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: none;
    background-color: #16aec9;
    color: #ffffff;
    font-family: 'Chewy', cursive;
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
}

#edit {
    font-size: 1.2rem;
}

#edit:hover, .btn-shipping:hover {
    background-color: #0f90db;
}

.btn-shipping {
  font-size: 1.5rem;  
  margin-top: 40px;
  display: block;
}

hr {
    border: 1px solid #cdf2f8;
    margin-top: 20px;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

/* SHIPPING INFORMATION */

  .title-form {
      margin-top: 25px;
      font-size: 1.5rem;
  }
  .subtitle-form {
      margin-top: 11px;
      color: #16aec9;
  }

  .checkbox-text {
      color: #16aec9;
  }
  
  .form {
    margin-top: 30px;
    display: grid;
    grid-gap: 1rem;
  }
  
  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-light-blue);
    padding: .5rem;
  }
  
  .field-label {
    color: var(--color-lighter-blue);
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
  }
  
  .field-input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
  }
  .field:focus-within {
    border-color: var(--color-medium-blue);
  }
  
  .fields {
    display: grid;
    grid-gap: 1rem;
  }
  .fields-2 {
    grid-template-columns: 1fr 1fr;
  }
  .fields-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .button {
    margin-top: 20px;
    background-color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
  .button:focus-visible {
    background-color: #333;
  }

  /********* RESPONSIVE VIEW **********/

/********** SMALL SCREEN **********/

@media only screen and (min-width: 375px) and (max-width: 765px) { 

  /* shipping info */

  .orderSummary {
    padding: 20px;
}

.personalDetails {
    padding: 20px;
}
 
  .title-form {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .subtitle-form {
    font-size: 0.9rem;
  }

  .checkbox-text {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  #edit {
    font-size: 0.8rem;
  }

  .brandName {
    font-size: 0.9rem;
  }

  .img-item {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 140px;
    height: 100px;
  }

  .qty, .sub, .shipping, .tax {
    font-size: 1rem; 
  }

  .total {
    font-size: 1rem;
    font-weight: bold;
  }

  .btn-shipping {
    font-size: 1.2rem;  
  }
}